
.container {
    display: flex;
    flex-direction: row;
    background-color: orange;
    flex-wrap: wrap;

}

.box1, .box2{
    flex: 50%;

}

.box3 {
    background-color: red;
    flex: 30%;
}

.box4 {
    flex: 1;
    background-color: blue;
}

@media screen and {min-width: 390;

}